RESOURCE_GROUP=<REPLACE_ME>
AZURE_SUBSCRIPTION_ID=<REPLACE_ME>
AZURE_STORAGE_ACCOUNT_NAME=<REPLACE_ME>
AZURE_STORAGE_ACCOUNT_KEY=<REPLACE_ME>
AZURE_STORAGE_CONNECTION_STRING=<REPLACE_ME>
LOG_ANALYTICS_WORKSPACE_NAME=<REPLACE_ME>
LOG_ANALYTICS_WORKSPACE_ID=<REPLACE_ME>
SEARCH_SERVICE_NAME=<REPLACE_ME>
SEARCH_SERVICE_ENDPOINT=<REPLACE_ME>
SEARCH_ADMIN_KEY=<REPLACE_ME>
AZURE_SEARCH_ENDPOINT=<REPLACE_ME>
AZURE_SEARCH_API_KEY=<REPLACE_ME>
AI_FOUNDRY_HUB_NAME=<REPLACE_ME>
AI_FOUNDRY_PROJECT_NAME=<REPLACE_ME>
AI_FOUNDRY_ENDPOINT=<REPLACE_ME>
AI_FOUNDRY_KEY=<REPLACE_ME>
AZURE_AI_CHAT_KEY=<REPLACE_ME>
AZURE_AI_CHAT_ENDPOINT=<REPLACE_ME>
AZURE_AI_CHAT_MODEL_DEPLOYMENT_NAME=<REPLACE_ME>
AI_FOUNDRY_HUB_ENDPOINT=<REPLACE_ME>
AI_FOUNDRY_PROJECT_ENDPOINT=<REPLACE_ME>
AZURE_AI_PROJECT_ENDPOINT=<REPLACE_ME>
AZURE_AI_PROJECT_RESOURCE_ID=<REPLACE_ME>
AZURE_AI_CONNECTION_ID=<REPLACE_ME>
AZURE_AI_MODEL_DEPLOYMENT_NAME=<REPLACE_ME>
EMBEDDING_MODEL_DEPLOYMENT_NAME=<REPLACE_ME>
COSMOS_NAME=<REPLACE_ME>
COSMOS_DATABASE_NAME=<REPLACE_ME>
COSMOS_ENDPOINT=<REPLACE_ME>
COSMOS_KEY=<REPLACE_ME>
COSMOS_CONNECTION_STRING=<REPLACE_ME>
APIM_NAME=<REPLACE_ME>
APIM_GATEWAY_URL=<REPLACE_ME>
APIM_SUBSCRIPTION_KEY=<REPLACE_ME>
ACR_NAME=<REPLACE_ME>
ACR_USERNAME=<REPLACE_ME>
ACR_PASSWORD=<REPLACE_ME>
ACR_LOGIN_SERVER=<REPLACE_ME>
APPLICATION_INSIGHTS_INSTRUMENTATION_KEY=<REPLACE_ME>
APPLICATION_INSIGHTS_CONNECTION_STRING=<REPLACE_ME>
APPLICATIONINSIGHTS_CONNECTION_STRING=<REPLACE_ME>
AZURE_OPENAI_SERVICE_NAME=<REPLACE_ME>
AZURE_OPENAI_ENDPOINT=<REPLACE_ME>
AZURE_OPENAI_KEY=<REPLACE_ME>
AZURE_OPENAI_DEPLOYMENT_NAME=<REPLACE_ME>
MODEL_DEPLOYMENT_NAME=<REPLACE_ME>
COSMOS_DATABASE=<REPLACE_ME>
MACHINE_MCP_SERVER_ENDPOINT=<REPLACE_ME>
MAINTENANCE_MCP_SERVER_ENDPOINT=<REPLACE_ME>
